@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drop {
    width: 2px;
    height: 89px;
    -webkit-animation: fall 0.63s linear infinite;
    -moz-animation: fall 0.63s linear infinite;
  }

  @keyframes fall {
    to {
      margin-top: 900px;
    }
  }
}
